In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
df1 = pd.read_csv("C:/Users/kinyanjuim/Desktop/Project2_Groupwork/life expectancy data/Life_Expectancy_Data_v2.csv", index_col=0)

In [9]:
df2 = pd.read_csv("C:/Users/kinyanjuim/Desktop/Project2_Groupwork/mental health data/Mental_health_Depression_disorder_Data.csv", index_col=0)

C:\Users\kinyanjuim\AppData\Local\Temp\ipykernel_8248\3200831763.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("C:/Users/kinyanjuim/Desktop/Project2_Groupwork/mental health data/Mental_health_Depression_disorder_Data.csv", index_col=0)

In [10]:
# Run this cell without changes

# Check that df is a dataframe
assert type(df1) == pd.DataFrame

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2938 entries, Afghanistan to Zimbabwe
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             2938 non-null   int64
 1   Status                           2938 non-null   object
 2   Life expectancy (men)            2938 non-null   int64
 3   Life expectancy(women)           2938 non-null   int64
 4   Adult Mortality (men)            2938 non-null   int64
 5   Adult Mortality (women)          2938 non-null   int64
 6   Infant deaths                    2938 non-null   int64
 7   Alcohol                          2744 non-null   float64
 8   Percentage expenditure           2938 non-null   float64
 9   Hepatitis B(men)                 2938 non-null   int64
 10  Hepatitis B(women)               2938 non-null   int64
 11  Measles                          2938 non-null   int64
 12  BMI                              2904 non-null   float64
 13  Under-five deaths                2938 non-null   int64
 14  Polio                            2919 non-null   float64
 15  Total expenditure                2712 non-null   float64
 16  Diphtheria                       2919 non-null   float64
 17  HIV/AIDS                         2938 non-null   float64
 18  GDP                              2490 non-null   float64
 19  Population                       2286 non-null   float64
 20  thinness  1-19 years             2904 non-null   float64
 21  thinness 5-9 years               2904 non-null   float64
 22  Income composition of resources  2771 non-null   float64
 23  Schooling                        2775 non-null   float64
dtypes: float64(13), int64(10), object(1)
memory usage: 573.8+ KB

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108553 entries, 0 to 108552
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Entity                     108553 non-null  object
 1   Code                       103141 non-null  object
 2   Year                       108553 non-null  object
 3   Schizophrenia (%)          25875 non-null   object
 4   Bipolar disorder (%)       19406 non-null   object
 5   Eating disorders (%)       100236 non-null  object
 6   Anxiety disorders (%)      6468 non-null    float64
 7   Drug use disorders (%)     6468 non-null    float64
 8   Depression (%)             6468 non-null    float64
 9   Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), object(6)
memory usage: 9.1+ MB